.logo {
    width: 100px;
}

.message {
    color: blue;
}

.message:hover {
    background-color: yellow;
}
.sectionContainer{
    margin: 2% auto;
    width: 60%;
    border: 2px solid black;
    padding: 10px;
    }
.sectionContainer button{
    width: 25%;
    border-radius: 3px;
}



.loginContainer, .signUpContainer{
    width: 30%;
    text-align: center;
    margin: 7% auto; 
    padding: 1em;
    border: 1px solid black;
}

.loginForm, .signUpForm{
    
   display: flex;
   flex-direction: column;
  }

  form input {
      height: 2em;
      margin: 0.5em;
      border-radius: 3px;
  }